body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  color: #00B7FF;
}

ul {
  padding-left: 0;
  list-style: none;
}

.Index {
  width: 100%;
  height: 100%;
  display: flex;
}
.Index__Toggle {
  position: fixed;
  z-index: 100;
  right: 16px;
  top: 16px;
  border: 0;
  border-radius: 4px;
  padding: 4px;
  display: block;
  background: #00B7FF;
  color: white;
  font-size: 16px;
}
@media (min-width: 1201px) {
  .Index__Toggle {
    display: none;
  }
}
.Index__MailList {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: white;
}
@media (max-width: 1200px) {
  .Index__MailList {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: absolute;
    overflow: hidden;
    transform: translate(-110%, 10px);
    height: 90vh;
    max-width: 90vw;
    transition: all 300ms;
  }
  .Index__MailList--show {
    transform: translate(10px, 10px);
  }
}
.Index__MailList__List {
  padding: 8px;
  list-style: none;
  width: 800px;
  flex-grow: 1;
  overflow: auto;
  border: 1px solid #CCC;
  border-radius: 16px;
}
@media (max-width: 1600px) {
  .Index__MailList__List {
    width: 500px;
  }
}
.Index__MailList__List__item {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #CCC;
  display: flex;
  margin-bottom: -1px;
  align-items: center;
}
.Index__MailList__List__item.active {
  background-color: #e6f8ff;
}
.Index__MailList__List__item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.Index__MailList__List__item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Index__MailList__List__item__details {
  flex-grow: 1;
}
.Index__MailList__List__item__details__subject, .Index__MailList__List__item__details__from, .Index__MailList__List__item__details__to {
  margin: 0;
  padding: 0;
}
.Index__MailList__List__item__details__subject {
  font-weight: 800;
}
.Index__MailList__List__item__button {
  margin: 0 4px;
  background: #00B7FF;
  color: white;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}
.Index__MailList__List__item__button--delete {
  background: #ff5900;
  display: none;
}
.Index__FileView {
  flex-grow: 1;
  border: 1px solid #CCC;
  border-radius: 8px;
  margin: 8px;
}
@media (max-width: 1200px) {
  .Index__FileView {
    margin: 0;
  }
}
.Index--meta .Index__MailList__List__item__button--delete {
  display: inline-block;
}

.MailView {
  width: 80vw;
  border: 1px solid black;
  padding: 16px;
  margin: 0 auto;
}
.MailView--inline {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.MailView--inline > div {
  padding: 8px 16px;
}
.MailView__from, .MailView__to {
  display: flex;
  flex-direction: row;
}
.MailView__from > *, .MailView__to > * {
  margin: 0;
}
.MailView__from__label, .MailView__to__label {
  width: 50px;
  font-weight: 800;
}
.MailView__email {
  width: 100%;
  height: 80vh;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
